# Unity 관련 불필요한 파일들
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Packages/com.unity.package-manager-do-not-use.lock

# OS에서 자동 생성되는 불필요한 파일들
.DS_Store
.idea/
.vscode/

# Visual Studio, Rider, JetBrains 관련 불필요한 파일들
*.csproj
*.sln
*.suo
*.userprefs
*.unityproj
*.iml

# 빌드 후 생성되는 파일들
*.apk
*.aab
*.ipa
*.exe
*.dll
*.pdb
*.mdb

# Git에서 자동 관리되는 파일들 제외
/Packages/manifest.json
/ProjectSettings/ProjectVersion.txt