[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / JetBrains
.vscode/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.pidb
*.booproj
.idea/
*.sdf
*.db
*.opendb

# OS files
.DS_Store
Thumbs.dbLibrary/
Temp/
Obj/
